
@{
    ViewData["Title"] = "Accounting";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Finance</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/Report">
                            <i class="fas fa-home"></i> Finance
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Report</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card" style="min-height:450px;">
        <i class="fas fa-lock col-dark-gray" style="position:relative;text-align:center;margin-top:2%; font-size:185px"></i>
        <h1 style="position:relative;text-align:center;margin-top:5%;color:darkgray;">This Section is Locked .</h1>
        <h4 style="position:relative;text-align:center;margin-top:5%;color:darkgray;">Please Contact Support.</h4>
    </div>
    <!-- Your content goes here  -->
</div>

