
@{
    ViewData["Title"] = "ManageReservs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Routes</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/Account/index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Reservation</a>
                    </li>
                    <li class="breadcrumb-item active">Manage Sales</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row clearfix js-sweetalert">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            @if (TempData["Style"] != null)
                            {
                                <div class="@TempData["Style"]">
                                    @TempData["Message"]
                                </div>
                            }
                            <!--for active path-->
                            <div class="body table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Route</th>
                                            <th>Agent</th>
                                            <th>Date</th>
                                            <th>Name</th>
                                            <th>Count</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Your content goes here  -->
        </div>
    </div>
</div>
<div id="ModalShow">

</div>
@section Scripts{
    <script src="~/assets/js/table.min.js"></script>
    <script src="~/assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="~/assets/js/form.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function openReservForm(id) {
            $.ajax({
                url: "/Reservation/EditReserv/" + id,
                type: "Get",
                AllowCache: false
            }).done(function (res) {
                $("#ModalShow").empty();
                $("#ModalShow").append(res);
                $('#reserv').modal('show');
                $('#SumCount').text(0);
                $('#SumPrice').text(0.0);
            });

        }
        function showConfirmMessage(input) {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this record!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                var id = input.getAttribute('id');
                Delete(id);
            });
        }
        function Delete(id) {
            $.ajax({
                url: "/Reservation/Delete/" + id,
                type: "Get",
                cache: false
            }).done(function () {
                swal("Deleted!", "this record has been deleted.", "success");
                $('#' + id + '-R').hide();
            });
        }
    </script>
}
