@model Tbl_City
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    List<Tbl_Country> countries = ViewBag.countries;
}
@section Styles{

    <!-- Colorpicker Css -->
    <link href="~/assets/js/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Multi Select Css -->
    <link href="~/assets/js/bundles/multiselect/css/multi-select.css" rel="stylesheet">
    <link href="~/assets/css/form.min.css" rel="stylesheet">
}
<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">

                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/City/">
                            <i class="fas fa-home"></i> Cities
                        </a>
                    </li>
                    <li class="breadcrumb-item bcrumb-2">
                        <a href="javascript:void(0);">Manage Forms</a>
                    </li>
                    <li class="breadcrumb-item active">Create City</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            @if (TempData["Style"] != null)
                            {
                                <div class="@TempData["Style"]">
                                    @TempData["Message"]
                                </div>
                            }
                            <div class="header">
                                <h2>
                                    <strong> City Form</strong>
                                </h2>
                            </div>
                            <form asp-controller="City" asp-action="Create" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                        <div class="form-group form-float">
                                            <div class="form-line">
                                                <input type="text" name="name" asp-for="name" class="form-control">
                                                <label class="form-label" asp-for="name">Country Name</label>
                                            </div>
                                            <span asp-validation-for="name" class="text-danger"></span>
                                        </div>
                                        <div class="class=form-group form-float">
                                            <div class="col-md-6">
                                                <p>
                                                    <b>Country</b>
                                                </p>
                                                <div class="btn-group bootstrap-select form-group col-10">
                                                    <div class="select-wrapper">
                                                        <select asp-for="Country_FG" name="Country_FG" class="form-group col-12" id="Country_FG" tabindex="-1">
                                                            @foreach (var item in countries)
                                                            {
                                                                <option value="@item.Id" data-icon="../../Files/Images/Countries/@item.Image">@item.Name</option>
                                                            }

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <span asp-validation-for="Country_FG" class="text-danger"></span>
                                        </div>
                                        <div class="file-field input-field">
                                            <div class="col-md-8">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input type="file" name="Image" onchange="ShowPreview(this)">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ccol-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
                                        <img id="ImgPrev" style="width:323px;height:168px;" src="~/Images/notimage.png" />
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success waves-effect">
                                    <i class="material-icons">save</i>
                                    <span>Save</span>
                                </button>
                                <a href="/City/" class="btn btn-info waves-effect">
                                    <i class="material-icons">arrow_back</i>
                                    <span>Back</span>
                                </a>

                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/form.min.js"></script>
    <script src="~/assets/js/bundles/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/assets/js/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
    <script src="~/assets/js/pages/forms/advanced-form-elements.js"></script>
    <script type="text/javascript">
        function ShowPreview(input) {
            if (input.files && input.files[0]) {
                var ImageDir = new FileReader();
                ImageDir.onload = function (e) {
                    $('#ImgPrev').attr('src', e.target.result);

                }
                ImageDir.readAsDataURL(input.files[0]);

            }

        }
    </script>
}
