

/*------------------------------------------------------------------
* Project:        Travel Material 
* Author:         Crenoveative 
* URL:            http://crenoveative.com or https://themeforest.net/user/crenoveative/portfolio 
* Created:        20/05/2019 
-------------------------------------------------------------------*/
.header-top {
    height: 100px;
}

#aboutus {
    line-height: 25px !important;
    margin-top: -26px;
}

#searchbtn {
    margin-left: 130Px;
}

#searchheader {
    font-size: 18px !important;
    font-weight: 700 !important;
}

.main-nav > li > a {
    font-size: 16px !important;
    font-weight: 700 !important;
}

li.group-result {
    text-align: center;
    color: #e22222 !important;
    font-size: 70%;
}

#blogs {
    margin-top: 30px;
}

.header-logo img {
    height: 65px !important;
}

#header-waypoint-sticky {
    position: inherit !important;
}

#hero-banner {
    background-image: url('../images/image-bg/Slider.png');
}

#bg-image {
    background-image: url('../images/image-bg-on-left/01.jpg');
    background-position: center bottom;
    height: 390px;
}

#login {
    background-color: #d7dbde;
}

@media(max-width:575px) {
    #dropdownMobileSetting{
        display:none !important;
    }
    #searchbtn {
        margin-left: 170px !important;
    }

    #aboutus {
        line-height: 23px !important;
        margin-top: -26px;
    }
    .header-logo img {
        height: 50px !important;
    }
}

@media(max-width:468px) {
    #aboutus {
        line-height: 20px !important;
        margin-top: -26px;
    }
    .header-logo img {
        height: 50px !important;
    }
}
