@model ViewModel_User
<link href="~/assets/css/form.min.css" rel="stylesheet">
<input id="userId" type="hidden" value="@Model.Id" />
@if (ViewBag.ExictRoles != null)
{
    <h6>Available Roles that you can set for user</h6>
    <div class="row">
        @foreach (var item in ViewBag.ExictRoles)
        {
            <span class="label bg-light-green m-b-10">@item</span>
        }

    </div>
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="form-group demo-tagsinput-area">
                    <div class="form-line">
                        <input type="text" class="form-control" name="roles" id="roles" data-role="tagsinput" value="@ViewBag.UsersRoles">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/form.min.js"></script>