@model ViewModel_User
@{
    ViewData["Title"] = "UserInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="block-header">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="breadcrumb breadcrumb-style ">
                    <li class="breadcrumb-item">
                        <h4 class="page-title">Profile</h4>
                    </li>
                    <li class="breadcrumb-item bcrumb-1">
                        <a href="/Account/index">
                            <i class="fas fa-home"></i> Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active">Information</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                @if (TempData["Style"] != null)
                {
                    <div class="@TempData["Style"]">
                        @TempData["Message"]
                    </div>
                }
                <div class="header">
                    <h2>
                        <strong> Information Form</strong>
                    </h2>
                </div>
                <form asp-controller="Account" asp-action="SubmitInfo" method="post" enctype="multipart/form-data" style="padding:15px;">
                    <div class="row">

                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="FullName" asp-for="FullName" class="form-control">
                                        <label class="form-label" asp-for="FullName">Full Name</label>
                                    </div>
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="Mobile" asp-for="Mobile" id="mobile" onchange="return checkMobile()" class="form-control">
                                        <label class="form-label" asp-for="Mobile">Mobile</label>
                                    </div>
                                    <span asp-validation-for="Mobile" class="text-danger"></span>
                                    <span class="text-danger" id="mobileexict" hidden>this number is exicted</span>
                                </div>
                                <div class="preloader pl-size-xs" id="loader" hidden>
                                    <div class="spinner-layer pl-red-grey">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="form-group form-float col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-line">
                                            <input type="text" name="Country" asp-for="Country" class="form-control">
                                            <label class="form-label" asp-for="Country">Country</label>
                                        </div>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="form-group form-float col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-line">
                                            <input type="text" name="City" asp-for="City" class="form-control">
                                            <label class="form-label" asp-for="City">City</label>
                                        </div>
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" name="Address" asp-for="Address" class="form-control">
                                        <label class="form-label" asp-for="Address">Address</label>
                                    </div>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="file-field input-field">
                                <div class="col-md-8">
                                    <div class="btn">
                                        <span>File</span>
                                        <input type="file" name="Image" onchange="ShowPreview(this)">
                                    </div>
                                    <div class="file-path-wrapper">
                                        <input class="file-path validate" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <label class="form-label" asp-for="Sex">Sex</label>
                                    <div class="switch">
                                        <label>
                                            Male
                                            <input type="checkbox" checked="" asp-for="Sex">
                                            <span class="lever"></span>Female
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ccol-lg-4 col-md-4 col-sm-4 col-xs-4 pull-right">
                            <img id="ImgPrev" style="width:323px;height:168px;" src="~/Images/notimage.png" />
                        </div>

                    </div>
                    <button type="submit" id="btnsave" class="btn btn-success waves-effect">
                        <i class="material-icons">save</i>
                        <span>Save</span>
                    </button>
                    <a href="/Account/" class="btn btn-info waves-effect">
                        <i class="material-icons">arrow_back</i>
                        <span>Back</span>
                    </a>

                </form>
            </div>

        </div>

    </div>
</div>
@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        function ShowPreview(input) {
            if (input.files && input.files[0]) {
                var ImageDir = new FileReader();
                ImageDir.onload = function (e) {
                    $('#ImgPrev').attr('src', e.target.result);

                }
                ImageDir.readAsDataURL(input.files[0]);

            }

        }
    </script>
}


