@model List<ViewModel_City>
@{List<ViewModel_Country> countries = ViewBag.Countries; }
@if (Model.Any())
{
    @foreach (var item in countries)
    {
        <optgroup label="@item.Name">
            @foreach (var item2 in Model.Where(a=>a.Country_FG==item.Id))
            {
            <option value="@item2.Id">@item2.Name</option>
            }
        </optgroup>
    }

}
