@{
    ViewData["Title"] = "ЛИЧНИ ДАННИ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper zero">

    <section>

        <div class="container">


            <div class="row gap-30 gap-lg-40">

                <div class="col-12 col-lg-12">

                    <div class="col-inner">

                        <h2 style="text-align:center;font-weight:bold;">Защита на лични данни GDPR</h2>
                        <p style="line-height:25px;">
                            Защитата на личните данни е от изключително важно значение за фирма "Георги Иванов - Рино Ройд" ООД, затова във връзка с новия регламент на ЕС за защита на личните данни (GDPR – General Data Protection Regulation) или познат още като „Общ регламент относно защита на личните данни" (ЕС 2016/679) ние гарантираме, че информацията и личните данни предоставени от Вас се събират, обработват и съхраняват в съответствие с изискванията на законодателството за защита на личните данни на Европейския съюз. Уебсайта ни е организиран така, че да позволява да го посещавате в интернет, без да се легитимирате или да давате каквато и да било лична информация. За да можете лесно да намирате тази „Защита на лични данни“, ние Ви осигуряваме достъп до нея, като я поставяме на нашата начална страница и в долната част на всяка уеб страница от сайта ни.
                        </p><br /> <br />
                        <h3>Какво са лични данни?</h3>
                        <p style="line-height:25px;">
                            Лични данни е всяка информация, отнасяща се до физическо лице, което е идентифицирано или може да бъде идентифицирано пряко или непряко чрез нея.
                        </p> <br />
                        <h3>Каква лична информация се събира от страницата ни?</h3>
                        <p style="line-height:25px;">
                            С цел фирма „Георги Иванов – Рино Ройд“ ООД да предостави на клиентите си възможно най-добрите и ефективни услуги, събира следната лична информация за потребителите си:<br />
                            -	Имейл, необходим за регистрация в страницата и създаването на Ваш личен потребителски профил;<br />
                            -	Име, фамилия, телефон, адрес, данни от дебитна/кредитна карта, при онлайн покупна на билет от страницата ни;<br />
                            -	Имейл, при абонамент за бюлетин с последни актуализации и оферти;<br />
                            -	IP адрес, когато използвате услуги от страницата ни или преглеждате нейното съдържание;<br />
                            -	Бисквитки, за идентифициране на браузъра или устройството Ви;

                        </p><br />
                        <h3>За какво се използва събраната информация?</h3>
                        <p style="line-height:25px;">
                            Предоставената от Вас лична информация се използва с цел създаване на Ваш профил в страницата ни, за онлайн продажба на билети, за обработка на плащания посредством виртуален ПОС, за комуникиране с Вас относно продажби на билети, услуги и промоционални оферти. Фирма „Георги Иванов – Рино Ройд“ ООД, използва Вашата лична информация, за да Ви информира относно рекламни материали, новини и друга подобна информация за предлаганите от нас продукти и кампании.
                        </p><br />
                        <h3>За какъв срок се събират предоставените лични данни?</h3>
                        <p style="line-height:25px;">
                            Срокът на обработка на личните данни, които събираме за Вас като клиенти на фирма "Георги Иванов – Рино Ройд“ ООД е не по-дълъг от необходимия срок за събиране и съхранение на лична информация.
                        </p><br />
                        <h3>Какви са Вашите права след като сте предоставили личните си данни на УЕБ-САЙТА?</h3>
                        <p style="line-height:25px;">
                            Имате право да възразите срещу обработването на личните си данни или срещу предоставянето им на трети лица като изпратите имейл на <a href="mailto:georg_ltd@abv.bg">georg_ltd@abv.bg</a> или с писмено заявление до "Георги Иванов – Рино Ройд" ООД, подписано от Вас и подадено до адреса на фирмата в гр.Хасково, бул."България" №55;
                            Имате право, по всяко време, да оттеглите даденото от Вас съгласие личните Ви данни да бъдат обработвани за посочените по-горе целите, като изпратите имейл на <a href="mailto:georg_ltd@abv.bg">georg_ltd@abv.bg</a> или с писмено заявление до "Георги Иванов – Рино Ройд" ООД, подписано от Вас и подадено до адреса на фирмата в гр.Хасково, бул."България" №55;
                            Имате право на достъп до личните си данни и право да искате от "Георги Иванов – Рино Ройд" ООД заличаване, коригиране или блокиране на личните си данни с писмено искане по начина, посочен по-горе.

                        </p><br />
                        <h3>Бисквитки (Cookies)</h3>
                        <p style="line-height:25px;">
                            По време на използването на нашата страница, Вашият браузър съхранява "cookies" на устройството, през което сте го отворили. Ние съхраняваме данните, изпратени от Вашия браузър и компютър на нашия уеб сайт, през процеса на заявка на електронен билет. Тези данни ще бъдат използвани, само в обобщен вид, за статистически цели и възможност допълнително да подобрим предлаганите от нас услуги.
                        </p><br />
                        <p style="line-height:25px;">
                            "Cookies" могат да се изтриват от Вашия браузър, ако желаете. Нашите "cookies" не съдържат лични данни.
                        </p>


                    </div>

                </div>
            </div>

            <div class="mb-50"></div>

        </div>

    </section>

</div>

