
@{
    ViewData["Title"] = "ОБЩИ ПРАВИЛА";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper zero">

    <section>

        <div class="container">


            <div class="row gap-30 gap-lg-40">

                <div class="col-12 col-lg-12">

                    <div class="col-inner">

                        <h3>Общи условия за пътуване</h3>
                        <p style="line-height:25px;">
                            1. С този билет, фирмата – превозвач осигурява превоз на пътника по посочения маршрут, с включена застраховка „Злополука“, без да поема рисковете по застраховка „Живот“ и „Медицински разходи“.<br />
                            2. С настоящия билет, пътникът има право на безплатен превоз на багаж – един куфар и ръчна чанта. Допълнително се заплаща: за 2-ра чанта – 10 лв.; за 3-та чанта – 20 лв.; за всяка следваща по 30 лв.
                            Не се извозва багаж без придружител.<br />
                            3. Билетът е личен и не се преотстъпва.<br />
                            4. Двупосочните билети са валидни в рамките на 12 месеца. Билети без фиксирани дати за пътуване, подлежат на заверка в бюрата на превозвача 7 дни преди датата на пътуване. Билети без нанесени дати за връщане се приемат при изключение, в зависимост от наличните свободни места в автобуса.<br />
                            5. Анулации или отказ от пътуване: до 72 часа – неустойка 10%; между 72-24 часа – неустойката е 50%; под 24 часа – стойността на билета не се възстановява, което е валидно и в случай на загубен или откраднат билет. Анулации и възстановяване на втора посока от двупосочен билет, не се допускат.<br />
                            6. За презаверка датата на пътуване се доплаща 30 лв.<br />
                            7. Малки домашни животни се превозват в багажното само ако има възможност, при спазване изискванията на закона и заплащане на 1/2 билет.<br />
                            8. Фирмата превозвач не носи отговорност за паспортни, визови и митнически неуредици на пътниците.<br />
                            9. Фирмата превозвач не носи отговорност за закъснения по обективни причини, както за загубен или откраднат багаж, преди качване в автобуса и след предаване на багажите при пристигане на пътниците.<br />
                            10. При отклонение от графика на пътуване, промяна часа и спирката на пристигане по обективни причини и неосъществяване на връзка с други превозни средства, фирмата не носи отговорност, не дължи обезщетения и няма ангажимент да уведомява лично всеки от посрещачите.<br />
                            11. При неосъществяване на пътуването по вина на фирмата – превозвач, същата възстановява само стойността на неосъществената част от маршрута и не дължи други обезщетения.<br />
                            12. Пушенето  време на цялото пътуване е строго забранено.<br />
                            13. Ползването на предпазни колани в автобуса по време на пътуването е задължително и глоби наложени от контролните органи във връзка със сигурността по време на пътуването, се носи лично от нарушителя.<br />
                            14. Пътниците носят лична отговорност за нанесените от тях щети на превозното средство.<br />
                            15. Жалби се подават лично от пътниците в писмен вид, до седем дни от датата на пътуване и представено копие от билета.<br />
                            16. С настоящия билет превозвачът сключва договор за превоз на пътници, като поема своите отговорности съгласно чл.42 до чл.48 от Закона за автомобилните превози (обн. ДВ., бр.82 от 1999г., последно изменение ДВ бр.66 от 26.07.13г.)<br />
                            17. Фирмата си запазва правото да извършва промени относно графика на пътуването.<br />
                        </p>
                    </div>

                </div>
            </div>

            <div class="mb-50"></div>

        </div>

    </section>

</div>

